@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button id="denemeTest">Deneme</button>
<div id="result"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#denemeTest').click(function () {
            $.ajax({
                url: 'https://localhost:7265/api/Values/Deneme', // API URL
                type: 'GET',
                success: function (response) {
                    $('#result').html(JSON.stringify(response));
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>